---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="About Ibrahim Khajanchi"
	pubDate={new Date()}
>
	<p>
		Hey, I'm Ibrahim Khajanchi! I help build the observability infrastructure for Bloomberg's data ingestion department.
	</p>

	<p>
		Bloomberg has hundreds of engineers and thousands of data managers working diligently every day to onboard the myriad 
		financial documents that our clients can access on the terminal. These pipelines are meticulously and carefully maintained
		by these hard-working professionals. But as anyone working on distributed systems knows, systems are fickle. They act in novel 
		and mysterious ways, they slow down, they crash and burn. 
	</p>

	<p>
		If I'm doing my job right, then these people's lives are easier.
		By maintaining the APIs, SDKs, UIs that my team owns, we help these engineers and data managers introspect and interrogate
		the state of their systems. Happy pipelines means happy people.
	</p>

	<p>
		Feel free to <a href="https://twitter.com/ibby_rips">follow me on Twitter</a> or
		<a href="https://github.com/ibbykhazanchi">check out my GitHub</a>.
	</p>
</Layout>
