---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h3>Ibrahim's Blog</h3>
			<p> Hello, visitor! Thanks for coming. I am an engineer at Bloomberg where I work on observability systems for the Data Technologies department.
			</p>
			<p> Prior to Bloomberg, I studied Computer Science and Business at Rutgers University, back when CS was still a respectable major.</p>
			<p> These days I spend my time working on OpenTelemetry, Clickhouse, and Golang. I'm truly passionate about this field because in the age of AI, observing
				your systems is more important than ever.
			</p>
			<p> When I'm not increasing shareholder value, I spend my time surfing, snowboarding, reading, running, and other stuff.</p>
			<p> Let's talk!</p>
		</main>
		<Footer />
	</body>
</html>
